$primary: #d41527;

@mixin logo-efficiency__all-text {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    margin: 0;
}
@mixin button {
    color: #c80000;
    font-size: 26px;
    font-weight: 600;
    background-color: #ffec00;
    padding:5px 0 5px 0 ;
    position: relative;
    &:hover {
        letter-spacing: 0;
    }
    &::before {
        content: '';
        background-image: url(../img/phone-icon.png);
        background-size: cover;
        position: absolute;
        width: 30px;
        height: 30px;
        top: 9px;
        left: 20px;
        border-radius: 50%;
    }
}
@mixin right-block-one {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center right;
    min-height: 125px;
    padding-top: 30px;
    color: #fff;
}
@mixin right-block-one__text {
    padding-right: 50px;
    text-align: left;
    font-size: 20px;
}
body{
    outline: 1px solid red;
    margin: auto;
    padding: 0;
    font: 15px Helvetica,Arial,sans-serif;
    max-width: 1920px;
    min-width: 360px;
    color: #7a7a7a;
    background-color: #edf2f0;
}
a {
    text-decoration: none;
    transition: 0.5s;
    &:hover {
        color: #ebdc05;
        letter-spacing: 1px;
        transition: 0.5s
    }
}
// Header
.header {
    background-color: $primary;
}
.header-container {
    max-width: 1500px;
    margin: 0 auto;
}
.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo {
    flex-grow: 1;
}
.logo__image {
    max-width: 250px;
}
.logo-efficiency {
    display: flex;
    align-items: center;
    flex-basis: 45%;
    justify-content: end;
    padding: 0 10px 0 5px;
}
.logo-efficiency__img {
    max-width: 50px;
}
.logo-efficiency__img--mx {
    margin: 0 10px 0;
}
.logo-efficiency__all-text {
    @include logo-efficiency__all-text;
    font-size: clamp(17px,calc(2vw - 3px),20px);
}
.logo-efficiency__text {
    margin: 0;
}
.logo-efficiency__text-yellow {
    color: #ffec00;
    margin: 0;
}
.logo__hr {
    color: #fff;
    height: 75px;
    width: 1px;
    background-color: rgba(0,0,0,0.25);
}
.logo__hr--mr {
    margin: 0 10px;
}
.logo-contacts {
    display: flex;
    align-items: center;
    flex-basis: 20%;
}
.logo-contacts__image {
    max-width: 50px;
}
.logo-contacts__image--mx {
    margin: 0 10px 0;
}
.logo-contacts__tell-text {
    @include logo-efficiency__all-text;
}
.logo-contacts__schedule {
    margin: 0;
}
.logo-contacts__number {
    color: #ffec00;
}
.logo-contacts__small-text {
    margin: 0;
    font-size: clamp(7px,calc(1vw - 2px),11px);
}
// Furst section
.first-section {
    background: url(../img/chrome_L6xFOnSxr6.png) no-repeat;
    background-size: cover;
    background-position: 15%;
}
.first-section-container {
    max-width: 1500px;
    min-height: 60vh;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;
}
.description {
    max-width: 730px;
    text-align: center;
    padding: 0 10px;
}
.desctiption__title {
    font-size: clamp(23px,5vw,40px);
    line-height: clamp(35px,5vw,46px);
    color: #fff;
}
.description__img {
    max-width: 175px;
}
.description__text {
    color: #ffec00;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 22px;
}
.description__number {
    width: 225px;
}
.description__link {
    @include button();
}
.description__mini-text {
    font-size: 11px;
    color: #fff;
}
//Second section
.second-section {
    background-color: #edf2f0;
}
.second-section-container {
    max-width: 1500px;
    margin: 0 auto;
}
.second-section__title {
    font-size: clamp(28px,3vw,32px);
    text-align: center;
    font-weight: bold;
}
.second-box {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    flex-wrap: wrap;
}
.left-block {
    background-color: #fff;
    flex-basis: calc(70% - 35px);
}
.left-block__img {
    width: 100%;
}
.left-block__subtitle {
    font-size: clamp(25px,3vw,38px);
    line-height: 42px;
    font-weight: 600;
    color: #d41527;
    padding:0 50px;
}
.left-block__paragraph {
    font-size: clamp(18px,2vw,21px);
    line-height: 28px;
    margin-bottom: 8px;
    padding: 0 50px;
}
.left-block__paragraph-4-strong {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 8px;
    font-weight: 600;
    text-align: center;
    padding: 0 50px;
}
.left-block__number {
    width: 225px;
}
.left-block__link {
    @include button();
}
.left-block__small-text {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 0.05em;
    text-align: center;
}
.right-block {
   flex-basis: 30%;
}
.right-block-one {
    @include right-block-one();
    &:nth-child(1){
        background: #d41527 url(../img/picto-proche.png) center right no-repeat;
        &:hover {
            background: #d41527 url(../img/picto-proche-hover.png) center right no-repeat;
            opacity: 0.75;
            cursor: pointer;
        }
    }
    &:nth-child(2){
        background: #d41527 url(../img/picto-rapide.png) center right no-repeat;
        &:hover {
            background: #d41527 url(../img/picto-rapide-hover.png) center right no-repeat;
            opacity: 0.75;
            cursor: pointer;
        }
    }
    &:nth-child(3){
        background: #d41527 url(../img/picto-devis.png) center right no-repeat;
        &:hover {
            background: #d41527 url(../img/picto-devis-hover.png) center right no-repeat;
            opacity: 0.75;
            cursor: pointer;
        }
    }
    &:nth-child(4){
        background: #d41527 url(../img/picto-experience.png) center right no-repeat;
        &:hover {
            background: #d41527 url(../img/picto-experience-hover.png) center right no-repeat;
            opacity: 0.75;
            cursor: pointer;
        }
    }
}
.right-block-one__text {
    @include right-block-one__text();
}
//Third section
.third-section {
    background-color: #fff;
}
.third-section-container {
    max-width: 1500px;
    margin: 0 auto;
}
.third-box {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
}
.third-left-block {
    flex-basis: 70%;
}
.left-block__title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}
.list {
    display: flex;
    flex-wrap: wrap;
}
.list__ul {
    list-style: none;
    flex-basis: 33.33%;
}
.list__li {
    margin: 15px 0;
    font-size: 16px;
    padding-right: 10px;
    font-weight: normal;
    line-height: 18px;
    padding-left: 22px;
    background: url(../img/puce.png) 0px 2px no-repeat;
}
.third-right-block {
    flex-basis: 30%;
}
.right-block__title {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}
.right-block--mb {
    margin-bottom: 35px;
}
.right-block__text {
    font-size: 16px;
    color: #404040;
}
.right-block__img {
    max-width: 100%;
}
//fourth section
.fourth-section {
    background-color: rgba(255, 255, 255, 0);
}
.fourth-section-container {
    max-width: 1500px;
    margin: 0 auto;
}
.fourth-section-title {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
}
.Our-services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;

}
.services {
    flex-basis: calc(25% - 25px);
}
.services__img {
    width: 100%;
}
.sevices__title {
    font-size: 22px;
    line-height: 28px;
    color: #d41527;
    font-weight: normal;
}
.services__text {
    font-size: 17px;
    line-height: 25px;
    color: #555;
}
//Fifth section
.fifth-section {
    background-color: #d41527;
}
.fifth-section-container {
    max-width: 1500px;
    margin: 0 auto;
}
.contacts {
    text-align: center;
    padding: 50px 0;
    color: #fff;
}
.contacts__first-text {
    font-size:clamp(17px,2vw,24px);
    line-height: 26px;
    display: block;
}
.contacts__second-text {
    text-transform: uppercase;
    font-size: clamp(20px,3vw,34px);
    line-height: 38px;
    font-weight: bold;
    display: block;
    margin: 15px 0 40px 0;
    span {
        color: #ffec00;
    }
}
.contacts__small-text {
    display: block;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 0.05em;
    margin: 0;
}
//footer
.footer {
}
.footer-container {
    // max-width: 1500px;
    margin: 0 auto;
    padding: 0;
}
.footer-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left-block {
    background: url(../img/photo-footer.jpg) no-repeat;
    background-size: 700px;
    flex-basis: 35%;
    position: relative;
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color:#d41527;
        opacity: 0.8;
    }

}
.footer-left-block__text {
    color: #ffec00;
    font-size: 22px;
    line-height: 30px;
    position: relative;
    padding: 50px 50px 0;
}
.footer-left-block__ul {
    padding: 0 48px;
    position: relative;
}
.footer-left-block__li {
    padding-right: 10px;
    font-weight: normal;
    line-height: 18px;
    padding-left: 22px;
    background: url(../img//list-check2.png) 0px 0 no-repeat;
    background-size: contain;
    list-style: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 25px 0;
    color: #fff;
}
.left-block__number {
    margin: 0 50px;
}
.left-block__link {
}
.footer-left-block__small-text {
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 0.05em;
    position: relative;
    padding: 0 50px;
}
.footer-right-block {
    flex-basis: 60%;
}
.width--button {
    width: 97%;
}
.colorh6 {
    color: #d41527;
    font-weight: 700;
    font-size: 30px;
}




@media (max-width: 991px) {
    .description {
        max-width: 100%;
    }
    .first-section-container {
        justify-content: center;
        min-height: 45vh;
        padding: 30px 0 0;
    }
    .left-block {
        flex-basis: 100%;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .right-block {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .third-left-block {
        flex-basis: 100%;
    }
    .list {
        justify-content: center;
    }
    .third-right-block {
        flex-basis: 100%;
    }
    .right-block__text {
        text-align: center;
    }
    .right-block__images {
        text-align: center;
    }
    .right-block--mb {
        margin-top: 35px;
    }
    .services {
        flex-basis: calc(50% - 25px);
    }
    .footer-left-block {
        flex-basis: 100%;
    }
    .footer-right-block {
        flex-basis: 100%;
    }
}
@media (max-width: 768px) {
    .left-block__subtitle {
        padding: 0 10px;
        text-align: center;
    }
    .left-block__paragraph {
        padding: 0 10px;
    }
    .left-block__paragraph-4-strong {
        padding: 0 10px;
    }
    .list__ul {
        flex-basis: 100%;
    }
    .services {
        flex-basis: calc(100%);
    }
    .footer-left-block__text {
        text-align: center;
    }
    .footer-left-block__li {
        font-size: 15px;
    }
    .footer-left-block__small-text {
        text-align: center;
    }
    .left-block__number {
        margin: auto;
    }
    .colorh6 {
        font-size: 25px;
    }
    .width--button {
        width: 91%;
    }
}
@media (max-width: 1200px) {
    .footer-left-block__text {
        padding: 50px 10px 0;
    }
    .footer-left-block__ul {
        padding: 0 10px;
    }
}